.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
}

.Dropdown {
  &__Btn {
    height: 24px;
    line-height: 30px;
    color: #9ca7d3;
    font-size: 30px;
    border-radius: 15px;
    background-color: inherit;
    border: none;
  }
  &__Item {
    color: #494e61;
    padding: 5px 0 5px 28px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: 147px;
    transition: 0.3s;
    overflow: hidden;
    &:hover {
      background-color: #f1f1f1;
      transform: translateX(-2px);
    }
  }
}
