.ListServersHeader {
  display: grid;
  grid-template-columns: 50%;
  padding: 20px 0 7px 42px;
  text-align: left;
  border-bottom: 2px solid #ededf0;
  @media (min-width: 800px) {
    grid-template-columns: 35% 25%;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 27.1% 25%;
  }
  span {
    display: inline-block;
    color: #9ca7d3;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    &:nth-child(1) {
      grid-column: 1;
    }
    &:nth-child(2) {
      grid-column: 2;
    }
  }
}
