.Dropdown {
  grid-column: 3;
  position: relative;
  display: inline-block;
  text-align: right;
  margin-right: 30px;
  &:hover {
    cursor: pointer;
    & .Dropdown__List {
      display: block;
    }
  }
  &__List {
    display: none;
    position: absolute;
    top: -8px;
    right: -33px;
    color: #606060;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    min-width: 137px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
  }
}
